HomeModbus/Models/HomeSettings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="HomeSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ControllerGroups">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ControllerGroup">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Controllers">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Controller">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Parameters">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="Parameter">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute name="Id" type="xs:string" use="required" />
                                              <xs:attribute name="Name" type="xs:string" use="required" />
                                              <xs:attribute name="ModbusType" type="ModbusTypes" use="required" />
                                              <xs:attribute name="ModbusIndex" type="xs:unsignedByte" use="required" />
                                              <xs:attribute name="RefreshRate" type="xs:string" use="optional" />
                                              <xs:attribute name="DataType" type="DataTypes" use="optional" />
                                              <xs:attribute name="Icon" type="xs:string" use="optional" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="Setters">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Setter" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:attribute name="Id" type="xs:string" use="required" />
                                          <xs:attribute name="Name" type="xs:string" use="required" />
                                          <xs:attribute name="Type" type="SetterTypes" use="required" />
                                          <xs:attribute name="ModbusIndex" type="xs:unsignedByte" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="Id" type="xs:string" use="required" />
                              <xs:attribute name="Name" type="xs:string" use="required" />
                              <xs:attribute name="ModbusAddress" type="xs:unsignedByte" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Rooms">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Room">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Layout" >
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="LayoutGroup" type="LayoutGroup">
                            
                          </xs:element>
                          <xs:element maxOccurs="unbounded" name="Visibility" type="Visibility">
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="ModbusTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Discrete"/>
      <xs:enumeration value="Coil" />
      <xs:enumeration value="InputRegister" />
      <xs:enumeration value="HoldingRegister" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SetterTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RealDateTime">
        <xs:annotation>
          <xs:documentation>
            Установка текущей даты и времени. Используются 3 регистра
            [Час,Минута] [День,Секунда] [Год,Месяц]
            После успешной установки обнуляются
            При ошибке [Год,Месяц] = 0xFFFF
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DataTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UInt16"/>
      <xs:enumeration value="Float" />
      <xs:enumeration value="RdDateTime">
        <xs:annotation>
          <xs:documentation>
            3 регистра [Год,Месяц] [День,Секунда] [Час,Минута]
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RdTime">
        <xs:annotation>
          <xs:documentation>
            [Час,Минута]
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BalloonTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal"/>
      <xs:enumeration value="Info" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Exclamation" />
      <xs:enumeration value="Alarm" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Orientations">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Vertical"/>
      <xs:enumeration value="Horizontal" />
    </xs:restriction>
  </xs:simpleType>


  <xs:complexType name="LayoutGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LayoutGroup" type="LayoutGroup"/>
      <xs:element maxOccurs="unbounded" name="Visibility" type="Visibility"/>
    </xs:sequence>
    <xs:attribute name="Orientation" type="Orientations" use="required" />
  </xs:complexType>
  
  <xs:complexType name="Visibility">
    <xs:sequence>
      <xs:element minOccurs="0" name="DigitalIndicator" />
      <xs:element minOccurs="0" name="ShowBalloon">
        <xs:complexType mixed="true">
          <xs:sequence minOccurs="0">
            <xs:element name="OnClose">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ResetParameter" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="Type" type="BalloonTypes" use="required" />
          <xs:attribute name="Text" type="xs:string" use="optional" />
          <xs:attribute name="ShowWhileParameterSet" type="xs:boolean" use="optional" />
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="AnalogIndicator">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Scale">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Ranges">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="Range">
                          <xs:complexType>
                            <xs:attribute name="StartValue" type="xs:unsignedByte" use="required" />
                            <xs:attribute name="EndValue" type="xs:unsignedByte" use="required" />
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="Min" type="xs:unsignedByte" use="required" />
                <xs:attribute name="Max" type="xs:unsignedByte" use="required" />
                <xs:attribute name="MajorCount" type="xs:unsignedByte" use="optional" />
                <xs:attribute name="MinorCount" type="xs:unsignedByte" use="optional" />
                <xs:attribute name="GoodValue" type="xs:unsignedByte" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="Icon" type="xs:string" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="BinaryIndicator">
        <xs:complexType>
          <xs:attribute name="OnIcon" type="xs:string" use="optional" />
          <xs:attribute name="OffIcon" type="xs:string" use="optional" />
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="LastTimeIndicator">
        <xs:complexType>
          <xs:attribute name="Icon" type="xs:string" use="optional" />
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="Chart" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" use="optional" />
    <xs:attribute name="ParameterId" type="xs:string" use="optional" />
    <xs:attribute name="SetterId" type="xs:string" use="optional" />
    <xs:attribute name="Icon" type="xs:string" use="optional" />
  </xs:complexType>

</xs:schema>